= form_with(model: message, local: true , url: "/#{I18n.locale}/messages") do |form|
  = form.invisible_captcha :title
  = hidden_field_tag( :locale , I18n.locale)
  - if message.errors.any?
    #error_explanation
      %h2
        = pluralize(message.errors.count, " ")
        =t("form.error")

      %ul
        - message.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :email
    = form.text_field :email
  .field
    = form.label :message
    = form.text_area :message
  .field
    = form.label :phone
    = form.text_field :phone
  .actions
    = form.submit t("form.submit")
