%header
  .header-logo
    %a{:href => "../"}
      =image_tag "logo-valk-100.png"
      %h1= t("layout.title")
  .sub-title
    %h3
      =t("layout.sub_title")
  .right
    - I18n.available_locales.each do |lang|
      .flag
        =link_to "/#{lang}/#{params[:id]}" do
          =image_tag "#{lang.to_s}.gif"
    .menu
      = render "layouts/dropdown"
