!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    / mobile settings
    %meta{:content => "width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0", :name => "viewport"}/
    %title= t("layout.title")
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
  %body{class: body_class}
    = render "layouts/menu" unless params[:id] == "index"
    = yield
    .section5.section.footer
      .footer-box.footer-left
        .left-8
          %h2 Ecoframe House
          %img{:src => "/assets/logo-musta-100.png", :width => "85"}/
          %p
            =t("layout.phone")
            040 730 8052
            %br
            %a{:href => "mailto: info@ecoframe.house"}
              info@ecoframe.house
            %br
            Fiskarsintie 847
            %br
            10480 Antskog
        .footer-links.left-4.text-center
          %br

          %h3
            %a{:href => "/"}
              =image_tag "oksa.png"
              %br
              = t("menu.home")
            %br
            %br
            %a{:href => "/homes"}
              =image_tag "oksa.png"
              %br
              = t("menu.homes")
            %br
            %br
            %a{:href => "/frames"}
              =image_tag "oksa.png"
              %br
              = t("menu.frames")
            %br
            %br
            %a{:href => "/wood"}
              =image_tag "oksa.png"
              %br
              = t("menu.work")
            %br


      .footer-box.form.footer-right
        .form-container
          %h2
            = t("form.contact")

          = render 'form', message: Message.new
